#gamePlayInterface {
  width: 75%;
  float: left;
  border-right-style: solid;
}
#roomInterface {
  background-color: green;
  width: 25%;
  float: left;
}

@media only screen and (max-width: 768px) {
  #gamePlayInterface {
    background-color: purple;
    width: 100%;
  }
  #roomInterface {
    background-color: pink;
    width: 100%;
  }
}

.roomInfo {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.roomIdInput {
  display: flex;
  flex-direction: row;
}
