* {
  /* the padding and border are included in the total width and height of the elements */
  /* https://www.w3schools.com/css/css3_box-sizing.asp */
  box-sizing: border-box;
}

.headcontainer {
  background-color: grey;
}

.xcontainer {
  background-color: purple;
}

.Board {
  position: relative;
  background-color: red;
  width: 100%;
  height: 0;
  padding-top: 100%;
  background-image: url("../assets/Board.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

img {
  max-width: 80%;
}

.col {
  padding: 0;
}
