* {
  /* the padding and border are included in the total width and height of the elements */
  /* https://www.w3schools.com/css/css3_box-sizing.asp */
  box-sizing: border-box;
}

.headcontainer {
  background-color: grey;
}

.xcontainer {
  background-color: purple;
}
