* {
  /* the padding and border are included in the total width and height of the elements */
  /* https://www.w3schools.com/css/css3_box-sizing.asp */
  box-sizing: border-box;
}

.wrapper {
  background-image: url("../assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 25px;
}

.body {
  max-width: 1200px;
  /* background-color: pink; */
  margin: 0 auto;
  flex: 1 0 auto;
}

.footer {
  max-width: 1200px;
  padding-top: 25px;
  margin: 0 auto;
}
